@model IEnumerable<CodeFirstASPCore6.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    //Here Message like Alert Banner is displayed
    if(TempData["insert_success"]! == null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Insert Success</strong> @TempData["insert_success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StdId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdStd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StdId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StdName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StdGender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StdAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StdStd)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StdId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StdId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StdId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
